<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=htmlWebpackPlugin.options.title%></title>
    <link rel="shortcut icon" href="favicon.ico" />
    <!--pre-unbundled-css-->
    <%=htmlWebpackPlugin.options.unbundled.pre.css.join("")%>
    <!--css-->
    <% for(var i=0; i < htmlWebpackPlugin.files.css.length; i++) {%>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[i] %>" />
    <% } %>
    <!--post-unbundled-css-->
    <%=htmlWebpackPlugin.options.unbundled.post.css.join("")%>
  </head>

  <body>
    <div id="root"></div>
    <!--pre-unbundled-js-->
    <%=htmlWebpackPlugin.options.unbundled.pre.js.join("")%>
    <!--js-->
    <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
    <% } %>
    <!--post-unbundled-js-->
    <%=htmlWebpackPlugin.options.unbundled.post.js.join("")%>
    
    <noscript>
      <h4>JavaScript is Disabled</h4>
      <p>Sorry, this webpage requires JavaScript to function correctly.</p>
      <p>Please enable JavaScript in your browser and reload the page.</p>
    </noscript>
  </body>
</html>
